//general ui scheme
$base-color: #EB0D00; //red
$base-gradient: 'flat';

//buttons
$include-button-uis: true;
$include-button-highlights: false;

//tabbar
$tabs-dark: #333333;
$tabs-dark-active-color: #444444;
// $tabs-light: #222222;
// $tabs-light-active: #333333;

@import 'sencha-touch/default/all';

// You may remove any of the following modules that you
// do not use in order to create a smaller css file.
@include sencha-panel;
@include sencha-buttons;
@include sencha-sheet;
@include sencha-picker;
@include sencha-tabs;
@include sencha-toolbar;
@include sencha-toolbar-forms;
@include sencha-indexbar;
@include sencha-list;
@include sencha-layout;
@include sencha-carousel;
@include sencha-form;
@include sencha-msgbox;
@include sencha-list-pullrefresh;
@include sencha-loading-spinner;

// Add desired icons
@include pictos-iconmask(chat);
@include pictos-iconmask(address_book);
@include pictos-iconmask(mail);
@include pictos-iconmask(quote1);

// Your custom code goes here...

@include sencha-button-ui('action', #940800);
@include sencha-toolbar-ui('searchtoolbar', #FFFFFF);

// default list background color
.x-list .x-list-inner {
    background-color: #eeeeee;
}

// searchbar
.x-toolbar-searchtoolbar {
    padding: .1em;
    background-color: #fff;

    .x-field {
        width: auto;
        min-height: 0;
        @include border-radius(.3em);
        background-color: #ffffff;


        input {
            margin: .2em;
            width: 70%;
        }
    }
}
// adjusting search field
.x-toolbar-searchtoolbar .x-field {
  width: 80%;
  -webkit-border-radius: 0;
  border-radius: 0;
  height: 100%;
  margin: 0;
  padding: 0;
}
// input field in relation to search toolbar
.x-toolbar-searchtoolbar .x-field input {
  width: 90%;
  padding-left: .5em;
}
// search bar border
.x-toolbar .x-field-search .x-component-outer {
    -webkit-box-shadow: none;
    box-shadow: none;
}

// visited list item
.x-list .x-list-item.x-item-selected .x-dock-horizontal {
  color: #000;
  text-shadow: none;
}
// taking away visited list item border styling
.x-list-normal .x-list-item.x-item-selected .x-dock-horizontal {
  border-top: none;
  border-bottom: none;
  background: none;
}
